#changeResp {
    background-color: #007bff; /* Color de fondo normal */
    color: #fff; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  #changeResp:hover {
    background-color: #0056b3; 
    color: #fff; 
  }

  #if-container-ok {
    background-color: #4CAF50; 
    color: #fff;
    padding: 10px; 
    border-radius: 5px; 
}

 

#if-container-no-ok {
    background-color: #FF5733; 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
}  