<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    
    <virtualType name="Magento\Taskfirst\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mgt_tbl_products</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Taskfirst\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magento_taskfirst_product_listing_data_source" xsi:type="string">Magento\Taskfirst\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
</config>

